# Ignora archivos del sistema Mac 
.DS_store

#Ignora archivos configuracion Prepros
prepros.config

#Ignora archivos de la carpeta
/app/secciones/empleados/cv_empleados/*
/app/secciones/empleados/fotos_empleados/*




